:root {
  --cor-bg: white;
  --cor-bg-2: #E9E9E9;
  --cor-principal: #14314E;
  --cor-secundaria: #7ab46f; 
  --cor-alerta: #ff0000;

  --gradiente-principal: linear-gradient(135deg, var(--cor-principal), var(--cor-secundaria));
  --gradiente-alerta: linear-gradient(135deg, #ff0000, #ffd000);

  --sombra: 0 0 64px rgba(0,0,0,0.07);
}

.sora-big-freaking-text {
  font-family: "Sora", sans-serif;
  font-weight: bold;
  font-size: 32px;
  color: var(--cor-principal);
}

.sora-section-title {
  font-family: "Sora", sans-serif;
  font-weight: medium;
  font-size: 32px;
  color: var(--cor-principal);
  margin-bottom: 32px;
}

.sora-card-main {
  font-family: "Sora", sans-serif;
  font-weight: medium;
  font-size: 25px;
  color: var(--cor-principal);
}