:root {
  --color-bg: #f7f5f2;
  --color-text: #4a4a4a;
  --color-matcha: #a4c3a2;
  --color-redbean: #b56e6b;
  --color-deep-matcha: #6b8e6b;
  --color-border: #dcdad5;
  --color-bg-container: #FCFBF8;
  --el-color-primary: #a4c3a2;

  --font-main: 'Poppins', sans-serif;

  --space-xs: 0.5rem;
  --space-sm: 1rem;
  --space-md: 2rem;
  --space-lg: 4rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  padding: 2rem;
}

body {
  font-family: var(--font-main);
  background-color: var(--color-bg);
  color: var(--color-text);
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-y: scroll;
  transition: background-color 0.3s, color 0.3s;
}


a {
  text-decoration: none;
  color: inherit;
}

header, footer {
  background: var(--color-bg-container);
  border-color: var(--color-border);
  border-style: solid;
  transition: background-color 0.3s, border-color 0.3s;
}


header {
  border-width: 0 0 1px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--space-sm) var(--space-md);
}

main {
  flex: 1; 
}

footer {
  border-width: 1px 0 0 0;
  text-align: center;
  padding: var(--space-md);
  color: #777;
  margin-top: auto;
}

button {
  font-family: inherit;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  padding: var(--space-xs) var(--space-md);
  transition: 0.2s;
}

.btn-primary {
  background: var(--color-matcha);
  color: white;
}

.btn-primary:hover {
  background: var(--color-deep-matcha);
}

.btn-secondary {
  background: var(--color-redbean);
  color: white;
}

.btn-secondary:hover {
  background: #9f5c58;
}

.container {
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
  padding: var(--space-md) 0;
}

.text-center {
  text-align: center;
}
